*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

body{
    display: flex;
    justify-content: center;
    background: whitesmoke;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    align-items: center;
}

body .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -170px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    width: 420px;
    height: 390px;
    border-radius: 40px;
    border: 2px solid #3e3ec4;

}

.wrapper h1{
    margin: 30px;
    color: black;
    font-weight: bolder;
}

.wrapper .input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    background: transparent;
    height: 150px;
}

.input-box input{
    box-sizing: border-box;
    width: 320px;
    margin: 10px 10px;
    padding: 10px 30px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid #3e3ec4;
}

.wrapper button{
    width: 230px;
    height: 40px;
    margin: 30px;
    background: #3e3ec4;
    border-radius: 20px;
    margin-bottom: 15px;
    color: white;
    font-weight: 600;
    border: 2px solid #3e3ec4;
    transition: 0.2s;
}

.wrapper button:hover{
    color: #3e3ec4;
    background: white;
}

.wrapper button:active{
    background: black;
}

.wrapper .remember-forgot{
    display: flex;
    width: 300px;
    height: 30px;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 15px;
}

.wrapper .sign-up{
    display: flex;
    justify-content: center;

    width: 330px;
    padding: 10px;
    margin-top: 10px;
    font-size: 13px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #3e3ec4;
}

.remember-forgot input{
    accent-color: #3e3ec4;
}
