@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb( 10, 10, 10);

}

body{
    background: whitesmoke;
    margin-top: 70px;
    height: 100vh;
}

.header{
    position: fixed;
    background: transparent;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid transparent;
}

.logo{
    background: transparent;
    width: 300px;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    padding-left: 30px;
    animation: rightSlide 0.5s ease-in;

}

.logo:hover{
    color: #3e3ec4;
}

.navbar{
    padding: 20px;
    display: inline-flex;
    background: transparent;
    height: 100%;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    animation: slideUp 0.5s ease-in;
}

.navbar a{
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active
{
    color:#3e3ec4;
}

.icons{
    background: transparent;
    width: 300px;
    font-size: 26px;
    padding-left: 230px;

}

.icons a{
    display: inline-block;
    color: whitesmoke;
    width: 40px;
    height: 40px;
    text-align: center;
    transform: rotate(45deg);
    border: 1px solid transparent;
}

.icons a:hover{
    border: 1px solid white;
}

.icons a i{
    transform: rotate(-45deg);
    color: whitesmoke;
}

.home{
    width: 100%;
    height: 100%;
    display: flex;
    background: transparent;
    margin-top: -50px;
    align-items: center;
    justify-content: space-around;
}

.home-content{
    padding: 20px;
    margin-top: -150px;
    width: 600px;
    height: 500px;

}

.home-content h1{
    font-size: 50px;
    color:#3e3ec4;
    animation: slideDown 0.5s ease-in;
}

.home-content span{
    color: #3e3ec4;
}

.home-content p{
    margin: 12px 0;
    font-size: 16px;
    font-weight: 405;
    animation: slideUp 0.5s ease-in;
}

.Image{
    margin-top: -100px;
    position: relative;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.rhombus{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 80%;
    border: 20px solid transparent;
    transform: rotate(45deg);
}

.rhombus img{
    position: fixed;
    display: inline-block;
    max-width: 350px;
    transform: rotate(-45deg);
    animation: Big 0.5s ease-in;
    
}

@keyframes slideDown{
    0%{
        transform: translateY(-30px);
        opacity: 0.5;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideUp{
    0%{
        transform: translateY(40px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rightSlide{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes Appear{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes Bike{
    0%{
        transform: translate(200px, -200px) rotate(-45deg);
        opacity: 0;
    }

    100%{
        transform: translateX(0px) rotate(-45deg);
        opacity: 1;
    }
}


@keyframes Big{
    0%{
        transform:rotate(-45deg) scale(70%);
        opacity: 0.5;
    }

    100%{
        transform:rotate(-45deg) scale(100%);
        opacity: 1;
    }
}